[flake8]
# General
max-line-length = 100
max-complexity = 10
# Additional checks
extend-select =
    N801,N802,N803,N804,N805,N806,N811,N812,N813,N814,N815,N816,N817,
    ANN001,ANN002,ANN003,ANN201,ANN202,ANN204,ANN205,ANN206,ANN401,ANN402
# Deliberately relaxed rules
ignore =
    W503, E203,
    D100,D101,D102,D103,D104,D105,D106,D107
# Don't lint generated/vendor/environment files
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv,
    .eggs,
    *.egg,
    docs,
    site-packages,
    sympy
# Intentional imports in package initializers
per-file-ignores =
    __init__.py:F401,E402
